* { padding: 0; margin: 0; box-sizing: border-box; }
a {text-decoration: none; color: black;}
li {list-style: none;}
table,th, td{border: 1px solid #262626; border-collapse: collapse;}
th, td{padding: 5px;}
.container { display: grid; grid-template-rows: 100px 1fr 80px; min-height: 100vh; }

.header { background-color: #94c994; padding: 10px 30px;}
.topMenu { display: flex; }
.topMenu li:not(:first-child) { margin-left: 15px;}
.topMenu li a {color: #fff;}
.topMenu li a:hover {color: #7480bd;}

.body{padding: 20px;}

.subContainer { height: 100%; display: grid; grid-template-columns: 120px 1fr;}
.subContainer .subMenus {border-right: 1px solid #868484;}
.subContainer .subBody {padding: 0 10px}

.circular--img { display: inline-block; overflow: hidden; border-radius: 50%; border: 4px solid #ecf0f1; }
.circular--img img { width: 100%; height: 100%; object-fit: cover; }
.circular--size40 { width: 40px; height: 40px; }
.circular--size200 { width: 200px; height: 200px; }
.circular--size300 { width: 300px; height: 300px; }

.footer{background-color: #414141; color: #fff;}